include LICENSE
include Makefile
include README.rst
include RELEASES.rst

recursive-include docs *
recursive-include tests *

exclude docs/_build

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
